/* ==== GENERAL STYLES ==== */
* {
  box-sizing: border-box;
}
body {
  background: url(assets/douglas-sanchez-676563-unsplash.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

/* ==== QUOTE STYLES ==== */
.quote {
  text-transform: uppercase;
  
}
.wrapper {
  font-family: 'Quattrocento Sans', sans-serif;
  color: rgba(255,255,255,.7);
}

/* ==== NOTE STYLES ==== */
.note {
  position: fixed;
  bottom: 0;
  right: 0;
  font-family: 'Quattrocento Sans', sans-serif;
  color: rgba(190,190,190,.9);
}