/* ==== GENERAL STYLES ==== */
* {
  box-sizing: border-box;
}
body {
  background: url(assets/douglas-sanchez-676563-unsplash.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/* ==== QUOTE STYLES ==== */
.quote {
  text-transform: uppercase;
   font-size: 1.5rem;
}
.wrapper {
  font-family: 'Quattrocento Sans', sans-serif;
  color: rgba(255,255,255,.9);
  text-align: center;
  height: 35vh;
  line-height: 1.5;
  padding: 10%;
  margin: 0 auto;
}

.author {
  font-size: 1rem;
  font-style: italic
}

/* ==== NOTE STYLES ==== */
.note {
  position: fixed;
  bottom: 0;
  right: 0;
  font-family: 'Quattrocento Sans', sans-serif;
  color: rgba(190,190,190,.9);
}